
body {
    background: url('https://fondosmil.com/fondo/70409.jpg') no-repeat center center fixed; 
    background-size: cover;
}
  
.table-container {
    margin: 20px 0;
  }
  
  .table-header {
    background-color: #83D9C8 !important;
  }
  
  .table-header-cell {
    font-weight: bold;
    color: #ffffff;
  }
  
  .table-row {
    border-bottom: 2px solid #2E9CCA !important;
  }
  
  .table-pagination {
    background-color: #2E9CCA !important;
    color: #ffffff !important;
  }
  
  .table-title {
    background-color: #45BF55 !important;
    padding: 2px;
    color: #ffffff !important;
  }
  